//@import 'assets/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome-sass/assets/stylesheets/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Krona+One');

///Maintenance
@import url('https://fonts.googleapis.com/css?family=Roboto');
//@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
.wpm_social ul {
    margin: 10px 0;
    max-width: 100%;
    padding: 0;
    text-align: right;
    li {
         display: inline-block;
         list-style: none;
         margin: 5px;
         opacity: 1;
    }
}
.maintenance{
    section{
        margin: 50px 0;
        &#logo{
            figure{
                margin: 0;
            }
        }
    }
    h1,h2,h3{
        //font-family: 'Orbitron', sans-serif;
        //font-family: 'Bubbler One', sans-serif;
        font-family: 'Krona One', sans-serif;
    }
    h1,h3{
        color:#007bff;
    }
    h3{
        text-transform: uppercase;
        font-size: 2.8em;
        text-align: center;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    &:not[class*='fa']{
        font-family: 'Roboto', sans-serif;
    }
    > header{
        text-align: center;
        h1{
           text-transform: uppercase; 
           font-size: 3.63rem;
        }
    }
    #socialmedia{
        ul{
            list-style: none;
            margin: 0;
            li{
                &:first-child{
                        a{margin-top: 0;}
                    }
                    &:last-child{
                        a{margin-bottom: 0;}
                    }
                a{
                    display: table;
                    color:#007bff;
                    border: 2px #007bff solid;
                    background: #fff;
                    transition: .3s ease all;
                    padding: 5px 10px;
                    margin: 47px 0;
                    font-size: 1.2em;//1.5em;
                    &:hover{
                        color: #fff;
                        background: #007bff;
                        //border-color: #fff;
                        text-decoration: none;
                    }
                    i{
                        margin-right:5px;
                        //padding-right: 10px;
                        //border-right: 1px #fff solid;
                    }
                    @include media-breakpoint-only(xs) {
                        span{
                            @include invisible(hidden);
                        }
                    }
                }
                @include media-breakpoint-only(xs){
                    a{
                        margin: 27px 0;
                    }
                }
            }
        }
        
    }
    #content{
        aside{
            text-align: center;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                li{
                    width:50%;
                }
            }
        }
        main{
            margin-bottom: 50px;
            //text-align: right;
            text-align: center;
        }
        p{
            margin: 0;
            &:first-of-type{
                margin-top: 20px;
            }
        }
    }
    @include media-breakpoint-only(xs) {
        *{
            //word-wrap:break-word;
            //hyphens: auto;
        }
        & > header{
            h1{
                font-size: 2rem;
                //word-wrap:break-word;
                //hyphens: auto;
            }
            h3{
                font-size: 1.7rem;
            }
            h2{
                font-size: 1.3rem;
            }
        }
    }
}